* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }
  img {
    width: 100%;
  }
  // color
  $color-white: #ffffff;
  $color-red: rgb(177, 17, 17);
  $color-black: black;
  $color-lowpink: #f0f0f0;
  $color-cooler: #d8c6b4;
  $color-header: #f4f4f4;
  $color-footer: rgb(255 255 255 / 50%);
  $color-ten: #00c3d7;
  // font-weight
  $fw-thin: 300;
  $fw-normal: 400;
  $fw-medium: 500;
  $fw-semibold: 600;
  $fw-bold: 700;
  
  // font-size
  $fs-1: 16px;
  $fs-2: 18px;
  $fs-3: 25px;
  $fs-4: 40px;
  $fs-5: 60px;
  
  // spacing
  $spacer: 1rem;
  
  @mixin styleText($fs: 18px, $fw, $color) {
    font-size: $fs;
    font-weight: $fw;
    color: $color;
  }
  
  @mixin styleButton(
    $padding,
    $bg-color,
    $border,
    $color,
    $color-hover,
    $border-hover,
    $bg-color-hover
  ) {
    padding: $padding;
    background-color: $bg-color;
    border: $border;
    color: $color;
    transition: all 0.5s;
    border-radius: 0px;
    cursor: pointer;
  
    &:hover {
      color: $color-hover;
      border: $border-hover;
      background-color: $bg-color-hover;
    }
  }
  
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }

  .form-group.invalid {
    [name] {
      border-color: $color-red;
    }

    .sp-info {
      color: $color-red;
    }

    #btnClose {
      a {
        text-decoration: none;
        color: black;
      }
    }
  }

  .logIn {
    text-align: center;
    a {
      @include styleText($fs-1, $fw-bold, $color-black)
    }
  }
